/* Header pozishin */
.header__conteiner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav__conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }
}
